.MyProductCard{
  border: 1px solid gray;
  padding: 20px 30px;
  background-color: rgb(133, 210, 17);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;



  h2{
      font-size: 1.7rem;
      font-size: 18px;
    font-weight: bold;
    background-color: rgb(251, 255, 127);
    color: red;
  }

  u{
      font-size: 1.2rem;
      background-color: rgb(146, 255, 127);
      display: inline-block;
      padding: 5px 10px;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      color: rgb(255, 0, 212);
}
strong{
  font-size: 1.2rem;
  background-color: aquamarine;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  color: red;
}
p{
  font-size: 1.2rem;
  background-color: aquamarine;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  color: rgb(255, 0, 0);
}
}